<%= erb :'_search'%>
<%= erb :'_nortification'%>

<div class="weui-panel">
  <div class="weui-panel__hd">
    <i class="fa fa-calendar-check-o" aria-hidden="true"></i>
    本周工作量统计
  </div>
  <div class="weui-panel__bd">
    <div class="" id='operator_workload_stat' style="height: 500px;">
    </div>
  </div>
</div>

<div class="weui-panel">
  <div class="weui-panel__hd">
    <i class="fa fa-calculator" aria-hidden="true"></i>
    分配给我的任务
  </div>
  <div class="weui-panel__bd">
    <div class="weui-media-box weui-media-box_text">
      <a class="weui-cell_access" href="task/1">
        <h4 class="weui-media-box__title">光交箱内部跳纤错误检查任务</h4>
        <p class="weui-media-box__desc">徐汇光交箱体GJ008 A盘8、9号口有问题，资源系统上显示的没有被占用，实际上被占用</p>
        <ul class="weui-media-box__info">
          <li class="weui-media-box__info__meta"></li>
          <li class="weui-media-box__info__meta">2017-6-13</li>
          <li class="weui-media-box__info__meta weui-media-box__info__meta_extra">来自：施工工单T14432，张强，13812341234</li>
        </ul>
      </a>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function () {
    change_tab_active('tab_menu_1');
  });
</script>



<script src="/js/pages/operator/welcome.js"></script>
