<a href="/<%= params['role_name']%>/welcome" class="weui-tabbar__item" id='tab_menu_1'>
  <img src="/images/twg_retina_icon/home_64.png" alt="" class="weui-tabbar__icon">
  <p class="weui-tabbar__label">首页</p>
</a>
<a href="/<%= params['role_name']%>/alert" class="weui-tabbar__item" id='tab_menu_2'>
  <span style="display: inline-block;position: relative;">
    <img src="/images/twg_retina_icon/warning1_64.png" alt="" class="weui-tabbar__icon">
    <span class="weui-badge" style="position: absolute;top: -2px;right: -13px;">1</span>
  </span>
  <p class="weui-tabbar__label">告警</p>
</a>
<a href="/<%= params['role_name']%>/around" class="weui-tabbar__item" id='tab_menu_3'>
  <span style="display: inline-block;position: relative;">
    <img src="/images/twg_retina_icon/magnifier_64.png" alt="" class="weui-tabbar__icon">
    <span class="weui-badge weui-badge_dot" style="position: absolute;top: 0;right: -6px;"></span>
  </span>
  <p class="weui-tabbar__label">发现</p>
</a>
<a href="/<%= params['role_name']%>/information" class="weui-tabbar__item" id='tab_menu_5'>
  <img src="/images/twg_retina_icon/tray_full_64.png" alt="" class="weui-tabbar__icon">
  <p class="weui-tabbar__label">资料</p>
</a>
