<div class="weui-panel">
  <div class="weui-panel__hd">
    <i class="fa fa-bell-o" aria-hidden="true"></i>
    通知
  </div>
  <div class="weui-panel__bd">
    <div class="weui-media-box weui-media-box_text">
      <a class="weui-cell_access" href="javascript:void(0);">
        <h4 class="weui-media-box__title">公司内部资源管理系列培训</h4>
        <p class="weui-media-box__desc">2017年7月12日，下周三到信息大楼三楼408会议室参加培训</p>
        <ul class="weui-media-box__info">
          <li class="weui-media-box__info__meta"></li>
          <li class="weui-media-box__info__meta">2017-6-13</li>
          <li class="weui-media-box__info__meta weui-media-box__info__meta_extra">发布人：武敏</li>
        </ul>
      </a>
    </div>
  </div>
</div>
