<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>OneRIM平台</title>

    <link rel="stylesheet" href="/css/weui.css">
    <link rel="stylesheet" href="/css/glasscup-mobile.css">
    <!-- Custom Fonts -->
    <link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- jQuery -->
    <script src="/jquery/jquery.min.js"></script>

    <!-- 高德地图 JavaScript -->
   <script src="http://cache.amap.com/lbs/static/es5.min.js"></script>
   <script src="http://webapi.amap.com/maps?v=1.3&key=7869a64ef800e0763b199fd87f5b1434"></script>
   <script src="//webapi.amap.com/ui/1.0/main.js"></script>

    <script src="/zepto/zepto.min.js"></script>
    <script type="text/javascript" src="https://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    <script src="https://res.wx.qq.com/open/libs/weuijs/1.0.0/weui.min.js"></script>

    <script src="/js/glasscup-mobile.js"></script>

  </head>
  <body>
    <div class="weui-tab">
      <div class="weui-tab__panel">
        <%= yield %>
      </div>
      <div class="weui-tabbar">
        <a href="/welcome" class="weui-tabbar__item" id='tab_menu_1'>
          <img src="/images/icon_tabbar.png" alt="" class="weui-tabbar__icon">
          <p class="weui-tabbar__label">首页</p>
        </a>
        <a href="/task" class="weui-tabbar__item" id='tab_menu_2'>
          <span style="display: inline-block;position: relative;">
            <img src="/images/icon_tabbar.png" alt="" class="weui-tabbar__icon">
            <span class="weui-badge" style="position: absolute;top: -2px;right: -13px;">8</span>
          </span>
          <p class="weui-tabbar__label">任务</p>
        </a>
        <a href="/around" class="weui-tabbar__item" id='tab_menu_3'>
          <span style="display: inline-block;position: relative;">
            <img src="/images/icon_tabbar.png" alt="" class="weui-tabbar__icon">
            <span class="weui-badge weui-badge_dot" style="position: absolute;top: 0;right: -6px;"></span>
          </span>
          <p class="weui-tabbar__label">发现</p>
        </a>
        <a href="/asset" class="weui-tabbar__item" id='tab_menu_4'>
          <img src="/images/icon_tabbar.png" alt="" class="weui-tabbar__icon">
          <p class="weui-tabbar__label">资源</p>
        </a>
        <a href="/daily" class="weui-tabbar__item" id='tab_menu_5'>
          <img src="/images/icon_tabbar.png" alt="" class="weui-tabbar__icon">
          <p class="weui-tabbar__label">日常</p>
        </a>
      </div>
    </div>

  </body>

</html>
