
<div style='margin-top:200px;'>
  <a href="/welcome" class="weui-btn weui-btn_warn">移动高层管理人员客户端</a>
  <a href="/welcome" class="weui-btn weui-btn_primary">移动运维管理人员客户端</a>
  <a href="/welcome" class="weui-btn weui-btn_default">第三方运维人员客户端</a>
</div>
