<%= erb :'_search'%>

<div class="weui-cells__title">
  <i class="fa fa-clock-o" aria-hidden="true"></i>
  未完成的任务
  <span class="weui-badge">8</span>
</div>
<div class="weui-cells">
  <a class="weui-cell weui-cell_access" href="javascript:;">
    <div class="weui-cell__bd">
      <p>徐汇区光交箱巡检任务</p>
    </div>
    <div class="weui-cell__ft">2017-6-15</div>
  </a>
  <a class="weui-cell weui-cell_access" href="javascript:;">
    <div class="weui-cell__bd">
      <p>徐汇区光交箱巡检任务</p>
    </div>
    <div class="weui-cell__ft">2017-6-15</div>
  </a>
  <a class="weui-cell weui-cell_access" href="javascript:;">
    <div class="weui-cell__bd">
      <p>徐汇区光交箱巡检任务</p>
    </div>
    <div class="weui-cell__ft">2017-6-15</div>
  </a>
  <a class="weui-cell weui-cell_access" href="javascript:;">
    <div class="weui-cell__bd">
      <p>徐汇区光交箱巡检任务</p>
    </div>
    <div class="weui-cell__ft">2017-6-15</div>
  </a>
  <a class="weui-cell weui-cell_access" href="javascript:;">
    <div class="weui-cell__bd">
      <p>徐汇区光交箱巡检任务</p>
    </div>
    <div class="weui-cell__ft">2017-6-15</div>
  </a>
  <a class="weui-cell weui-cell_access" href="javascript:;">
    <div class="weui-cell__bd">
      <p>徐汇区光交箱巡检任务</p>
    </div>
    <div class="weui-cell__ft">2017-6-15</div>
  </a>
  <a class="weui-cell weui-cell_access" href="javascript:;">
    <div class="weui-cell__bd">
      <p>徐汇区光交箱巡检任务</p>
    </div>
    <div class="weui-cell__ft">2017-6-15</div>
  </a>
  <a class="weui-cell weui-cell_access" href="javascript:;">
    <div class="weui-cell__bd">
      <p>徐汇区光交箱巡检任务</p>
    </div>
    <div class="weui-cell__ft">2017-6-15</div>
  </a>
</div>

<a href="javascript:;" class="weui-btn  weui-btn_disabled weui-btn_default">
  显示已经完成的任务
</a>


<script type="text/javascript">
  $(document).ready(function () {
    change_tab_active('tab_menu_2');
  });
</script>
