<div class="weui-panel">
  <div class="weui-panel__hd">
    <i class="fa fa-warning" aria-hidden="true"></i>
    重大事故
  </div>
  <div class="weui-panel__bd">
    <div class="weui-media-box weui-media-box_text">
      <a class="weui-cell_access" href="/<%= params[:role_name] %>/alert/1">
        <h4 class="weui-media-box__title">一干光缆阻断</h4>
        <h4 class="weui-media-box__subtitle_warning">距集团要求的抢修完成时间还有5小时</h4>
        <h4 class="weui-media-box__subtitle">当前状态：正在抢修</h4>
        <p class="weui-media-box__desc">清沪光缆2，万荣-回城，15.37公里处，万寿路与江海路交界处处被第三方施工破坏，施工机械为重型挖掘机</p>
        <ul class="weui-media-box__info">
          <li class="weui-media-box__info__meta"></li>
          <li class="weui-media-box__info__meta">2017-6-1</li>
          <li class="weui-media-box__info__meta weui-media-box__info__meta_extra">责任人：张强，13812341234</li>
        </ul>
      </a>
    </div>
  </div>
</div>

<div class="weui-panel">
  <div class="weui-panel__hd">
    <i class="fa fa-fire" aria-hidden="true"></i>
    今年发生的重大事故
  </div>
  <div class="weui-panel__bd">

  </div>
</div>
